<footer class="footer"> 
    <small>
        Todos los derechos reservados 2021
    </small>
    <nav> 
        <ul>
            <li><%= link_to "Acerca del culeke", '#' %></li>
            <li><%= link_to "Contactanos!", '#' %></li>
            <li><a href="https://www.twitter.com">Noticias</a></li>
        </ul>
    </nav>
</footer>